
.main{
    border: 1px solid grey;
    width: 350px;
    height: 360px;
    margin: 0 auto;
    
}

.inputt{
    width: 99%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}

.btns{
    width: 4.3em;
    margin-left: 1px;
    margin-top: 1em;
    height: 40px;
    font-size: larger;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 0px white;
    color: white;
}